/* Custom color Bootstrap */
:root {
    --bs-topbar-item-color: #707793;
    --bs-s-topbar-color: #9097a7;
    --bs-overlay-color: #2f3944;
    --bs-body-color: #f9f7f7;
}
/* End Custom color Bootstrap */

.cursor-pointer {
    cursor: pointer;
}

/* Custom overlay Offcanavas Bootstrap*/
.offcanvas-backdrop {
    background-color: rgba(93, 113, 134, 0.75);
}
#offcanvasExample {
    background-color: var(--bs-overlay-color);
    max-width: 280px;
}
/* End Custom overlay Offcanavas Bootstrap*/

/* Custom container */
.container-fluid {
    max-width: 95%;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}
/* End Custom container */

/* Color */
.icon-color, .text-title-color {
    color: var(--bs-topbar-item-color);
}
/* End Color */

/* Logo */
.logo {
    height: 100px;
    position: sticky;
    top: 0;
}
/* End Logo */

/* Slider */
.navbar_list li a {
    padding: 12px 32px;
    cursor: pointer;
}

.navbar_list li:first-child {
    color: var(--bs-topbar-item-color);
    font-size: 11px;
    cursor: default;
    text-transform: uppercase;
    padding: 12px 32px;
}

.navbar_list .item {
    color: var(--bs-s-topbar-color);
    font-size: 15px;
    font-weight: 500;
}

.navbar_list .item a {
    color: var(--bs-s-topbar-color);
    gap: 12px;
    transition: color 0.3s linear;
}

.navbar_list .item a:hover {
    color: var(--bs-white);
}
/* End Slider */

/* Header */
.header {
    height: 100px;
    background: var(--bs-body-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}
/* End Header */

/* Search */
.header-search .header-icon {
    position: absolute;
    z-index: 10;
    font-size: 14px;
    left: 11px;
    top: 50%;
    color: var(--bs-s-topbar-color);
    transform: translateY(-50%);
    cursor: pointer;
}

.header-search input {
    display: block;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    padding-left: 40px;
    padding-right: 15px;
    background: #eae8e8;
    caret-color: black;
    box-shadow: none;
    height: 42px;
    outline: none;
}

.header-search input:focus {
    background: #eae8e8;
    outline: none;
    box-shadow: none;
    color: var(--bs-topbar-item-color);
}
/* End Search */
