/* Custom color Bootstrap */
:root {
    --bs-topbar-item-color: #707793;
    --bs-s-topbar-color: #9097a7;
    --bs-overlay-color: #2f3944;
}
/* End Custom color Bootstrap */

.cursor-pointer {
    cursor: pointer;
}

/* Custom overlay Offcanavas Bootstrap*/
.offcanvas-backdrop {
    background-color: rgba(93, 113, 134, 0.75);
}
#offcanvasExample {
    background-color: var(--bs-overlay-color);
    max-width: 280px;
}
/* End Custom overlay Offcanavas Bootstrap*/

/* Custom container */
.container-fluid {
    max-width: 95%;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}
/* End Custom container */

/* Color */
.icon-color {
    color: var(--bs-topbar-item-color);
}
/* End Color */

/* Logo */
.logo {
    height: 100px;
}
/* End Logo */

/* Slider */
.navbar_list li {
    padding: 12px 32px;
    cursor: pointer;
}

.navbar_list li:first-child {
    color: var(--bs-topbar-item-color);
    font-size: 11px;
    cursor: default;
    text-transform: uppercase;
}

.navbar_list .item {
    color: var(--bs-s-topbar-color);
    font-size: 15px;
    font-weight: 500;
}

.navbar_list .item a {
    color: var(--bs-s-topbar-color);
    gap: 12px;
}
/* End Slider */
