/* Custom Checkbox */
.form-check-label {
    font-size: 13px;
    font-weight: 500;
}

.form-check-input:focus {
    box-shadow: none;
    outline: 0;
    border-color: var(--input-focus-border-color);
}

.form-check-input:checked {
    background-color: var(--btn-color);
}

.form-check-input[type="checkbox"] {
    border-radius: 4px;
}
/* End Custom Checkbox */