/* Custom color Bootstrap */
:root {
    --bs-topbar-item-color: #707793;
    --bs-s-topbar-color: #9097a7;
    --bs-overlay-color: #2f3944;

    /* bs secondary bg*/
    --bs-secondary-bg: #fff;

    /* border radius */
    --bs-border-radius-sm: 8px;

    /* bs color-body */
    --bs-body-color: #5d7186;

    /* bs bg-body*/
    --bs-body-bg: #f9f7f7;

    /* Other */
    --bs-input-border-color: #d8dfe7;
    --bs-input-focus-border-color: #b0b0bb;
    --btn-color: #ff6c2f;
    --btn-bg: rgba(255, 108, 47, 0.1);
}
/* End Custom color Bootstrap */