.form-label {
    font-size: 13px;
    margin-bottom: 9px;
    font-weight: 500;
}

.form-control {
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: 400;
    color: var(--bs-body-color);
    background-color: var(--bs-secondary-bg);
    border: var(--bs-border-width) solid var(--bs-input-border-color);
    border-radius: var(--bs-border-radius-sm);
}

.form-control:focus {
    outline: 0;
    background-color: var(--bs-secondary-bg);
    border-color: var(--bs-input-focus-border-color);
    box-shadow: none;
}