/* Logo */
.logo {
    height: 100px;
    position: sticky;
    top: 0;
}
/* End Logo */

/* Slider */
.navbar_list li a {
    padding: 12px 32px;
    cursor: pointer;
}

.navbar_list li:first-child {
    color: var(--topbar-item-color);
    font-size: 11px;
    cursor: default;
    text-transform: uppercase;
    padding: 12px 32px;
}

.navbar_list .item {
    color: var(--topbar-color);
    font-size: 15px;
    font-weight: 500;
}

.navbar_list .item a {
    color: var(--topbar-color);
    gap: 12px;
    transition: color 0.3s linear;
}

.navbar_list .item a:hover {
    color: var(--bs-white);
}
/* End Slider */